@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
    height: 100%;
    --bg-color:#FBF9F1;
    --header-section: #92C7CF;
    --font-color:#FFFFFF;
    --font-color2:#3333;
    --footer-white: #E5E1DA;
    --blue-link: #448ef4;
}

html{
    height: 100%;
}

/**BODY*/

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #cef6d8;
}

/**TITULOS*/


h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
}

/**HEADER + FOOTER*/


header, footer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    background-color: var(--header-section);
}
footer{
    background-color: var(--footer-white);
    & ul, p{
        width: 100%;
        text-align: center;
    }
}

/**MAIN*/

main{
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    
}

/**ARTICLE*/

article{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    & h3{
        position: relative;
        cursor: pointer;
        width: 100%;
        background-color: var(--faq-dark);
        padding: 1rem;
        border-bottom: 1px solid var(--bg-color) ;
    }
    & section{
        justify-content: center;
        padding-bottom: 3rem;
        & figure{
            width: 100%;
            margin: auto;
            & img{
                width: 50%;

            }
        }
    }
}
#slider {
    display: none;
}


/**modal*/
/* a{
    display: inline-block;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    transition: background-color 0.8s ease;
} */

a:hover{
    background-color: var(--hover-color);
}

.modal{
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-pop-up);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container header{
    display: flex;
    justify-content: space-between;
}

.modal-container header i{
    font-size: 1.5rem;
    transition: transform ease 0.3s;
}

.modal-container header i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* .modal-container header,
.modal-container footer{
    background-color: var(--bg-primary);
    color: var(--text-color);
    padding: 0.5rem;
} */
.modal-container :where(header, footer){
    color: var(--text-color);
    padding: 0.5rem;
}

.modal-container main{
    padding: 0.8rem 1rem;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & figure{
        width: 45%;
        border-right: none;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & p{
        width: 45%;
    }
}

.modal-container{
    position: relative;
    width: 100vw;
    /* height: 90vh; */
    margin: auto;
    background-color: var(--bg-modal);
    padding: 1rem;
    animation: modal;
    animation-duration: 1.5s;
}

.oculta-modal{
    display: none;
}

@keyframes modal{
    from{
        top: -500px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
        
    }
}



/*    !MEDIAQUERIES             */


@media only screen and (min-width: 768px){
    article{
        & section:nth-child(odd){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            padding-bottom: 0px;
            width: 90%;
            align-self: center;
            & h3{
                width: 100%;
                height: max-content;
                background-color: #448ef4;
                margin: auto;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            & figure{
                height: 100%;
                border-right: 1px solid black;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                /* & img{
                    padding-top: 10px;
                } */
            }
            & .select{
                align-self: last baseline;
                font-size: 2rem;
            }
        }
        & section:nth-child(even){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            padding-bottom: 0px;
            width: 90%;
            align-self: center;
            & h3{
                width: 100%;
                height: max-content;
                background-color: #448ef4;
                margin: auto;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            & figure{
                height: 100%;
                border-left: 1px solid black;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 4;
                /* & img{
                    padding-top: 10px;
                } */
            }
            & .select{
                align-self: last baseline;
                font-size: 2rem;
            }
        }
    }
    
    div[class='select']:hover{
        background-color: var(--faq-hover);
    }
    div[class='select']::before{
        content: '▼';
        position: inherit;
    }
    .contenido{
        text-align: justify;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
        background-color: var(--faq-dark);
        & p{
            font-size: 1rem;
            line-height: 1.5;
            padding-bottom: 0.5rem;
        }
    }
    .activa .contenido{
        padding: 1em;
        height: auto;
    }
    .activa div[class='select']::before{
        content: '▲';
    }
}

@media only screen and (min-width: 1024px) {
    #slider {
        display: block;
        display: flex;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;
        & img{
            width: 100%;
            height: auto;
            transition: transform 1s ease;
        }
    }
}

