@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
    height: 100%;
    --bg-color:#FBF9F1;
    --header-section: #92C7CF;
    --font-color:#FFFFFF;
    --font-color2:#3333;
    --footer-white: #E5E1DA;
    --blue-link: #448ef4;
    --color1: #f2f2f2;
    --color2: #f2a594;
    --color3: #b4c0d9;
    --color4: #7a91bf;
    --color5: #6b80bf;
}

html{
    height: 100%;
}

/**BODY*/

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--color1);
}

/**TITULOS*/


h1{
    text-align: center;
    color: white;
}
h2{
    text-align: center;
    width: 100%;
}

/**HEADER + FOOTER*/


footer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color3);
}
header{
    width: 100%;
    height: auto;
    & a{
        /* padding: 0.5rem 1rem; */
        background-color: var(--color2);
        color: var(--font-color);
        border-radius: 10px;
        text-decoration: none;
    }
}

/* Introducción */
body>article{
    background-image: url(../img/bg-intro.png);
    background-size: cover;
}

figure img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/**MAIN*/

main{
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    /* background-color: #f2f2f2; */
}

/**ARTICLE*/

article{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    & section{
        justify-content: center;
        padding-bottom: 3rem;
        & figure{
            width: 100%;
            /* margin: auto; */
            & img{
                width: 50%;

            }
        }
        & h3{
            color: #fff;
            cursor: pointer;
            width: 100%;
            padding: 1rem;
            margin-bottom: 10px;
            background: linear-gradient(45deg, rgb(0, 153, 255), blue);
            background-size: 200% 200%;
            animation: cambiar 5s ease infinite;
        }
    }
}
@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 50% 0;}
}




/**modal*/


a:hover{
    background-color: var(--hover-color);
}

.modal{
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-pop-up);
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    font-weight: bold;
}
.contenido{
    margin: auto;
    width: 90%;
    text-align: justify;
    line-height: 1.5;
}

.modal-container header{
    display: grid;
    background-color: #f2A594;
    grid-template-columns: repeat(2, 1fr);
    & h2{
        text-align: start;
        padding-left: 1.5rem;
    }
    & i{
        text-align: end;
    }

}

.modal-container header i{
    font-size: 1.5rem;
    transition: transform ease 0.3s;
}

.modal-container header i:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.modal-container footer{
    background-color: #B4C0D9;
    gap: 0.5rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.modal-container footer div:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.modal-container :where(header, footer){
    color: var(--text-color);
    padding: 0.5rem;
}

.modal-container main{
    padding: 0.8rem 1rem;
    text-align: justify;
    display: flex;
    background-color: #f2f2f2;
    /* flex-direction: row; */
    justify-content: center;
    line-height: 2rem;
    & figure{
        width: 65%;
        border-right: none;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    & p{
        width: 100%;
    }
}

.modal-container{
    position: relative;
    width: 100vw;
    /* height: 90vh; */
    margin: auto;
    background-color: var(--bg-modal);
    padding: 0.5rem;
    animation: modal 1s; 
    /* forwards para mantener el estado de la animacion */
    
}

.oculta-modal{
    display: none;
}

@keyframes modal{
    from{
        top: 0;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
        
    }
}
#foto{
    border: none;
    & img{
        width: 90%;
    }
}


/*    !MEDIAQUERIES             */

@media only screen and (min-width:320px){
    header{
        padding: 1rem;
        display: grid;
        gap: 0.5rem;
        justify-items: center;
        /* text-align: center; */
        & a{
            width: 120px;
            height: 40px;
            display: grid;
            align-self: center;
            align-items: center;
            justify-items: center;
        }
    }
    body>article{
        padding: 1rem;
        text-align: center;
        display: grid;
        gap: 1rem;
        justify-content: center;
        & div, figure{
            display: grid;
            align-self: center;
            gap: 1rem;
        }
        & div{
            justify-items: center;
            & h1{
                font-size: 1.6rem;
            }
            & p{
                font-size: 0.8rem;
            }
        }
    }
    footer{
        padding: 2rem;
        text-align: center;
    }
}

@media only screen and (min-width: 768px){
    header{
        padding: 0.5rem;
        justify-content: space-between;
        grid-template-columns: repeat(2, 210px);
        & a{
            justify-self: end;
            font-size: 0.8rem;
            height: 34px;
        }
    }
    article{
        & section:nth-child(odd){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            padding-bottom: 0px;
            width: 90%;
            align-self: center;
            & h3{
                width: 100%;
                height: max-content;
                background-color: #448ef4;
                /* margin: auto; */
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-bottom: 10px;
            }
            & figure{
                height: 100%;
                border-right: 1px solid black;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                & img{
                    width: 70%;
                }
            }
            & .select{
                align-self: last baseline;
                font-size: 1.5rem;
            }
        }
        & section:nth-child(even){
            display: grid;
            grid-template-columns: repeat(2, 50%);
            padding-bottom: 0px;
            width: 90%;
            align-self: center;
            & h3{
                width: 100%;
                /* height: max-content; */
                background-color: #448ef4;
                margin: auto;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                margin-bottom: 10px;
            }
            & figure{
                height: 100%;
                border-left: 1px solid black;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 4;
                & img{
                    width: 70%;
                }
            }
            & .select{
                align-self: last baseline;
                font-size: 1.5rem;
            }
        }
    }
    
    div[class='select']:hover{
        background-color: var(--faq-hover);
    }
    div[class='select']::before{
        content: '▼';
        position: inherit;
    }
    .contenido{
        text-align: justify;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
        background-color: var(--faq-dark);
        & p{
            font-size: 1rem;
            line-height: 1.5;
            padding-bottom: 0.5rem;
        }
    }
    .activa .contenido{
        padding: 1em;
        height: auto;
    }
    .activa div[class='select']::before{
        content: '▲';
    }
    .modal-container{
        width: 85%;
    }
    .modal-container main{
        display: inline-block;
        & figure{
            float: left;
            width: 35%;
            margin: 0.5rem 0.5rem 0 0;
            border: none;
        }
    }
}

@media only screen and (min-width: 1024px) {
    header{
        grid-template-columns: repeat(2, 250px);
        padding: 1rem 4rem;
        & a{
            font-size: 1rem;
            width: 130px;
            height: 40px;
            &:hover{
                background-color: var(--color1);
                color: var(--color2);
                cursor: pointer;
                border: 2px solid var(--color2);
                /* padding-top: -0.6rem; */
            }
        }
    }
    body>article{
        padding: 2rem 4rem;
        grid-template-columns: 1fr 400px;
        & div{
            & h1{
                font-size: 2rem;
            }
            & p{
                font-size: 1rem;
            }
        }
    }
    #slider {
        display: block;
        display: flex;
        overflow: hidden;
        width: 60%;
        margin: 0 auto;
        & img{
            width: 100%;
            height: auto;
            transition: transform 1s ease;
        }

    }
}

@media only screen and (min-width: 1440px) {
    .modal-container{
        width: 70%;
    }
    @media only screen and (min-width: 1440px){
        header{
            padding: 0.5rem 8rem;
            grid-template-columns: repeat(2, 300px);
        }
        body>article{
            padding: 3rem 8rem;
            gap: 6rem;
        }
    }
    
}

